.advantages__container {
  width: 91%;
  max-width: 1312px;
  margin: 0 auto;
  padding-top: 112px;
}

.advantages__text {
  font-size: 48px;
  line-height: 57px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 80%;
  max-width: 852px;
  margin: 0 auto;
  margin-bottom: 73px;

  & span {
    color: #fcb500;
  }
}

.advantages__prises {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__prise {
  font-size: 48px;
  line-height: 57px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  &--old {
    font-size: 36px;
    line-height: 43px;
    color: #adadad;
    text-decoration: line-through;
    margin-right: 32px;
  }
}

.advantages__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1093px;
  margin: 0 auto;
  margin-bottom: 58px;
  justify-content: space-between;
  align-items: stretch;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__image {
  margin-bottom: 50px;
}

.advantages__description {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  width: 70%;
  margin-top: auto;
  text-align: center;

  & b {
    color: #fcb500;
    font-weight: 400;
  }

  &--big {
    font-size: 36px;
    line-height: 43px;

    & b {
      font-size: 24px;
      line-height: 28px;
    }
  }
}


.advantages__button {
  font-family: $main-font;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #fcb500;
  border: none;
  border-radius: 7px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  width: 256px;
  margin: 0 auto;
  margin-bottom: 112px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .advantages__container {
    width: 95%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__text {
    font-size: 40px;
    line-height: 50px;
    width: 91%;
    max-width: 705px;
    margin-bottom: 45px;
  }

  .advantages__prises {
    width: 60%;
  }

  .advantages__prise {
    font-size: 40px;
    line-height: 50px;

    &--old {
      font-size: 30px;
      line-height: 40px;
      margin-right: 25px;
    }
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;
  }

  .advantages__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__image {
    margin-bottom: 35px;
  }

  .advantages__button {
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width) {
  .advantages__container {
    width: 100%;
    padding-top: 40px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .advantages__text {
    font-size: 30px;
    line-height: 40px;
    width: 95%;
    margin-bottom: 30px;
  }

  .advantages__prise {
    font-size: 30px;
    line-height: 40px;

    &--old {
      font-size: 25px;
      line-height: 35px;
      margin-right: 20px;
    }
  }

  .advantages__list {
    width: 100%;
  }

  .advantages__image--vitamins {
    width: 300px;
    height: auto;
  }

  .advantages__description--big {
    font-size: 30px;
    line-height: 40px;

    & b {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
