.header__container {
  max-width: 1312px;
  margin: 0 auto;
  padding-top: 24px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
