.header__container {
  width: 91%;
  max-width: 1312px;
  margin: 0 auto;
  padding-top: 24px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: $tablet-width) {
  .header__container {
    width: 95%;
    align-items: center;
  }

  .header__link-main svg {
    width: 100px;
    height: 30px;
  }

  .header__link-basket svg {
    width: 35px;
    height: 30px;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    width: 100%;
    padding-right: 0;
  }

  .header__link-main {
    margin-left: 2%;
  }

  .header__link-basket {
    margin-right: 2%;
  }
}
