.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
